name: "Metrics"

on:
  push:
    branches: ["master", "main"]
    paths: [".github/workflows/metrics.yml"]
  schedule:
    - cron: "55 05 * * *"
  workflow_dispatch:

permissions: {}

concurrency:
  group: "${{ github.ref }}"
  cancel-in-progress: true

jobs:
  generate-header-metrics:
    name: "Generate header metrics"
    runs-on: "ubuntu-latest"
    steps:
      - uses: "lowlighter/metrics@latest"
        with:
          token: "${{ secrets.METRICS_TOKEN }}"
          filename: "header.svg"
          base: "header"
          config_animations: true
          config_base64: true
          output_action: "none"
      - name: "Upload header"
        uses: "actions/upload-artifact@v4"
        with:
          name: "metrics-header"
          path: "/metrics_renders/header.svg"

  generate-repositories-metrics:
    name: "Generate repositories metrics"
    runs-on: "ubuntu-latest"
    steps:
      - uses: "lowlighter/metrics@latest"
        with:
          token: "${{ secrets.METRICS_TOKEN }}"
          filename: "repositories.svg"
          base: "repositories"
          output_action: "none"
      - name: "Upload repositories"
        uses: "actions/upload-artifact@v4"
        with:
          name: "metrics-repositories"
          path: "/metrics_renders/repositories.svg"

  generate-plugin-languages-metrics:
    name: "Generate languages plugin metrics"
    runs-on: "ubuntu-latest"
    steps:
      - uses: "lowlighter/metrics@latest"
        with:
          token: "${{ secrets.METRICS_TOKEN }}"
          filename: "plugin-languages.svg"
          base: ""
          plugin_languages: true

          plugin_languages_ignored: "html, css, scss, sass, less, nix, shell"
          plugin_languages_categories: "programming"

          plugin_languages_limit: 10
          plugin_languages_sections: "most-used"
          plugin_languages_details: "percentage"

          config_display: "regular"
          config_padding: 0, 25

          config_base64: true
          config_animations: true

          output_action: "none"
      - name: "Upload languages"
        uses: "actions/upload-artifact@v4"
        with:
          name: "metrics-languages"
          path: "/metrics_renders/plugin-languages.svg"

  generate-plugin-notable-metrics:
    name: "Generate notable contributions plugin metrics"
    runs-on: "ubuntu-latest"
    steps:
      - uses: "lowlighter/metrics@latest"
        with:
          token: "${{ secrets.METRICS_TOKEN }}"
          filename: "plugin-notable.svg"
          base: ""
          plugin_notable: true
          output_action: "none"
      - name: "Upload notable"
        uses: "actions/upload-artifact@v4"
        with:
          name: "metrics-notable"
          path: "/metrics_renders/plugin-notable.svg"

  publish-metrics:
    name: "Publish metrics"
    needs:
      - "generate-header-metrics"
      - "generate-repositories-metrics"
      - "generate-plugin-languages-metrics"
      - "generate-plugin-notable-metrics"
    runs-on: "ubuntu-latest"
    permissions:
      contents: "write"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v4"

      - name: "Download all artifacts"
        uses: "actions/download-artifact@v4"
        with:
          path: "./metrics/"
          pattern: "metrics-*"
          merge-multiple: true

      - name: "Publish"
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          if [ -d "./metrics" ] && [ -n "$(git status --porcelain ./metrics/)" ]; then
            git add ./metrics/
            git commit -m "[skip ci] Metrics updated $(date -Iseconds)"
            git push
          else
            echo "No changes to commit"
          fi
